<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>CreationClient</servlet-name>
		<servlet-class>com.openclassroom.servlet.CreationClient</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreationCommande</servlet-name>
		<servlet-class>com.openclassroom.servlet.CreationCommande</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/creerClient</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreationClient</servlet-name>
		<url-pattern>/afficherClient</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreationCommande</servlet-name>
		<url-pattern>/creerCommande</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CreationCommande</servlet-name>
		<url-pattern>/afficherCommande</url-pattern>
	</servlet-mapping>
</web-app>